*{
    margin: 0px;
    height: 10px;
    box-sizing: border-box;
    font-family: sans-serif;   
   }
   .navbar{
       width: 100%;
       height: 60px;
       background-color:black
   }
   .banner-section{
       width: 100%;
       height: 200px;
    
   }
   .category-section{
       width: 100%;
       height: 150px;
     
   }
   .sub-section{
       width: 100%;
       height:630px;
       border: 1px solid black;
       position: relative;
       top:20px;
   }
   .discount-section{
       width: 100%;
       height: 250px;
       
   }
   .banner-section img{
       height: 200px;
       width:100%;
   }
   .category-section img{
       height: 120px;
       width: 160px;
       margin: 0px;
       margin-left:0px;
       justify-content: center;
       border: 3px double black;
       position:relative;
       top:25px
   }
   .category-section span{
       position:absolute;
       top:420px; 
       margin-left: 50px;; 
   }
   
   .sub-section img{
       width: 250px;
       height: 240px;
       margin: 25px;
       margin-right: 20px;
       margin-left:15px;
       position: relative;
   }
   .sub-section  label {
       position: absolute;
       top:275px;
       
       margin-left:70px;
       font-weight: bold;
       font-size: 20px;
   
   }
   .sub-section  span {
       position:absolute;
       top:580px;
   
       margin-left:40px;
       font-weight: bold;
       font-size: 20px;
   
   }
   .sub-section img:hover{
       transform: scale(1.3);
   
   }
   
   .rakhi-section {
       position: relative;
       top:15px;
       height:30px ;
   
   }
   .banner-2 img{
       height: 250px;
       width: 100%;
       top:100px;
       position: relative;;
   }
   .discount-section img{
       height:300px;
       width:290px;
       position: relative;
       top:400px;
       margin:3px;
       padding: 10px;
       
   }
   .fotteer img{
       height:500px;
       width:100%;
       min-width: 100vw;
       position: relative;
       top:780px;
   }
   .head-section h2{
       position: relative;
       top:10px;
   
   }
   .category-section img:hover{
       transform:scale(1.3) ;
   }
   .navbar{
       display:flex;
       justify-content: space-between;
       align-items: center;
       color: white;
   }
   .company h2{
       margin-left:1250px;
   }
   .products label{
       display: inline-flexbox;
       list-style: none;
   
       margin-left:70px;
   }
   .product-detail {
    display: flex;
}

.pro-left {
    width: 50%;
    max-width: 60%;
    border: 1px solid black;
    height:400px;
}

.pro-left img {
    width: 600px;
    height: 380px;
    padding-left: 50px;
}

.pro-right {
    width: 100%;
    max-width: 50%;
    border: 1px solid black;
    height: 400px;
}

.pro-right h4 {
    padding: 20px;
}

.pro-right ul li {
    list-style: none;
    margin: 20px;
}
.pro-button {
    width: 100%;
}

.addBtn,
.buyBtn {
    width: 200px;
    height: 50px;
    margin: 12px;
}

.addBtn {
    background-color: orangered;
    color: white;
    position:relative;
    top:150px;
}

.buyBtn {
    background-color: aquamarine;
    position:relative;
    top:150px;
}
.addBtn:hover{
    transform: scale(1.2);
}
.buyBtn:hover{
    transform: scale(1.2);
}